<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trik.gamepad"
    android:versionCode="19"
    android:versionName="1.11 beta" >
    <uses-permission android:name="android.permission.INTERNET" />    
    <!--  <uses-permission android:name="android.permission.VIBRATE" /> -->

    <application
        android:allowBackup="false"
        android:icon="@drawable/trik_icon"
        android:label="TRIK Gamepad"
        android:theme="@style/AppTheme" >
       <!--  <service android:name=".SenderService" />  -->
        
        <activity
            android:name="com.trik.gamepad.MainActivity"
            android:label="TRIK Gamepad">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.trik.gamepad.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>        
    </application>
    
</manifest>